
@import "node_modules/bootstrap/scss/bootstrap";
$theme-colors: (
  "primary": #0074d9,
  "danger": #ff4136
);


@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v37/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  &::after, &::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body{
  padding-right: 0 !important;
  margin: 0;
  padding: 0;
  height: 100%;
  background: #ffffff;
  font-family: "PT Sans", sans-serif;
  line-height: 1.3;
}
.btn{
  text-decoration: none;
  &:link{
    text-decoration: none;
    &:visited{
      text-decoration: none;
    }
    &:hover{
      text-decoration: none;
    }
  }
  &:active{
    text-decoration: none;
  }
  &:focus{
    text-decoration: none;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
  }
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  &.md-18 { font-size: 18px; }
  &.md-24 { font-size: 24px; } /* Default */
  &.md-36 { font-size: 36px; }
  &.md-48 { font-size: 48px; }
}


.btn-flat{
  opacity: .60;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  &:visited{
      opacity: 1;
    }
  &:hover{
    opacity: 1;
  }
  &:active{
    opacity: 1;
  }
  &:focus{
    opacity: 1;
  }
}
.hidden{
  display:none;
}


/* ----- DIALOG/MODAL ----- */
/* FADE/SCALE EFFECT */
.modal{
  height: 100%;
  &.show{
    .modal-dialog{
      -webkit-transform: translate(0,-50%);
      -o-transform: translate(0,-50%);
      transform: translate(0,-50%);
      top: 50%;
      margin: 0 auto;
    }
    button{
      &.close{
        &.external{
          opacity:1;
          position: absolute;
          top: 6%;
          right:6%; 
          }
        }
      }
  }
}

/* DIALOG CONTENT */
	.modal-content {
		border: none;
		border-radius: 2px;
		-webkit-box-shadow: 0 40px 77px rgba(0, 0, 0, 0.22), 0 27px 24px rgba(0, 0, 0, 0.2);
		   -moz-box-shadow: 0 40px 77px rgba(0, 0, 0, 0.22), 0 27px 24px rgba(0, 0, 0, 0.2);
				box-shadow: 0 40px 77px rgba(0, 0, 0, 0.22), 0 27px 24px rgba(0, 0, 0, 0.2);
	}

/* DIALOG HEADER */
	.modal-header {
		min-height: 16px;
		padding: 24px;
    border-bottom: none;
    &.divider{
      border-bottom: 1px solid #e9ecef;
      +.modal-body{
        padding-top: 20px;
      }
    }
	}
  
	.modal-title {
		font-weight: 500;
    font-size: 21px;
  }
  
  
/* DIALOG FOOTER */
	.modal-footer {
		margin-top: 24px;
    border-top: none;
    &.divider{
      border-top: 1px solid #e9ecef;
      +.modal-body{
        padding-bottom: 20px;
      }
    }
	}

