.ptb-50 {
  padding: 50px 0px 50px; }

.ptb-40 {
  padding: 40px 0px 40px; }

.ptb-30 {
  padding: 30px 0px 30px; }

.ptb-20 {
  padding: 20px 0px 20px; }

.ptb-10 {
  padding: 10px 0px 10px; }

.bg-gray {
  background-color: #f3f5f7; }

.text-gray {
  color: #404345; }

.home-header {
  width: 100%;
  height: 864px;
  position: relative;
  overflow: hidden; }
  .home-header::after {
    background: #100c57;
    /* Old browsers */
    background: -moz-linear-gradient(left, #100c57 0%, #1c2572 20%, #6935b3 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #100c57 0%, #1c2572 20%, #6935b3 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #100c57 0%, #1c2572 20%, #6935b3 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c2572', endColorstr='#6935b3',GradientType=1 );
    z-index: -10;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .home-header::before {
    content: "";
    position: absolute;
    background-image: url(../images/top-curve.svg);
    width: 1280px;
    right: -224px;
    top: 7px;
    background-repeat: no-repeat;
    height: 100%;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    z-index: -8; }
  .home-header nav.landing {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    z-index: 1040;
    height: 90px;
    width: 100%;
    top: 0;
    position: fixed;
    background: rgba(51, 51, 51, 0);
    transition: background-color 1s ease; }
  .home-header nav.landing .logo {
    font-size: 2em;
    position: absolute;
    top: 6px; }
    .home-header nav.landing .logo img {
      width: 45px; }
    .home-header nav.landing .logo .logo-text {
      top: 20px;
      left: 55px;
      position: absolute; }
  .home-header nav.landing li.nav-item a.nav-link {
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    display: inline-block;
    padding: 15px 18px; }
  .home-header nav.landing a.btn-nav {
    background: #5e45d3;
    border-radius: 8px;
    padding: 10px; }
  .home-header .img-wrapper .moon-img {
    position: absolute;
    height: 120px;
    left: 45%;
    top: 30%;
    opacity: .45;
    z-index: -9; }
  .home-header .img-wrapper .globe-img {
    position: absolute;
    right: -3px;
    bottom: 0;
    height: 690px;
    z-index: -7; }
  .home-header .img-wrapper .particle-img {
    position: absolute;
    right: -3px;
    bottom: 0;
    height: 820px;
    z-index: -6; }
  .home-header .header-circle::after, .home-header .header-circle::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .home-header .header-circle:nth-of-type(1) {
    left: 53%;
    top: 70%;
    position: absolute;
    background: #48dbfb;
    padding: 3.5%;
    border-radius: 64%; }
  .home-header .header-circle:nth-of-type(2) {
    left: 57%;
    top: 16%;
    position: absolute;
    background: #feca57;
    padding: 3%;
    border-radius: 64%; }
  .home-header .header-circle:nth-of-type(3) {
    left: 78%;
    top: 11%;
    position: absolute;
    background: #1dd1a1;
    padding: 2%;
    border-radius: 64%;
    z-index: -8; }
  .home-header nav {
    position: relative;
    float: right;
    top: 25px;
    right: 45px; }
  .home-header .header-container {
    margin-top: 16%;
    margin-left: 7%;
    padding-left: 37px;
    padding-top: 20px;
    padding-bottom: 20px; }
    .home-header .header-container .small {
      color: #fff;
      font-family: "Josefin Sans", sans-serif;
      font-size: 1.5em;
      padding-bottom: 10px;
      width: 502px; }
    .home-header .header-container .large {
      font-size: 347%;
      font-weight: bold;
      color: #fff;
      text-transform: capitalize; }
      .home-header .header-container .large span {
        color: #ff8e59;
        background: -webkit-linear-gradient(#f75a9f, #ffb153);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
    .home-header .header-container form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .home-header .header-container form input {
        padding: 20px 15px;
        border-radius: 45px;
        border: none;
        outline: none;
        width: 370px;
        font-family: "PT Sans", sans-serif;
        font-size: 16px;
        text-indent: 15px;
        -webkit-box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
        box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1); }
      .home-header .header-container form button {
        height: 64px;
        border: none;
        width: 133px;
        background: #f75a9f;
        margin-left: -8%;
        padding-top: 17px;
        border-bottom-right-radius: 45px;
        border-top-right-radius: 45px;
        -webkit-box-shadow: 0 8px 15px #a2549c66;
        box-shadow: 0 8px 15px #a2549c66;
        cursor: pointer;
        color: #fff; }
  @media (max-width: 640px) {
    .home-header {
      height: 708px; }
      .home-header .header-container {
        background: rgba(0, 0, 0, 0.23);
        margin-top: 175px;
        margin-left: 0;
        padding-bottom: 30px; }
      .home-header::before {
        display: none; }
      .home-header .img-wrapper .particle-img {
        height: 717px; }
      .home-header .img-wrapper .globe-img {
        height: 600px; }
      .home-header .header-container .small {
        width: 100%;
        font-size: 1.4em; }
      .home-header .header-container .large {
        width: 100%;
        font-size: 2.4em; }
      .home-header .header-container form input {
        padding: 17px 14px;
        width: 310px; }
      .home-header .header-container form button {
        height: 58px;
        width: 150px; } }
  @media (max-width: 990px) {
    .home-header .header-container {
      margin-top: 30%; }
    .home-header::before {
      display: none; } }

#mobile-nav {
  background-color: rgba(6, 9, 51, 0.92);
  position: fixed;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  left: 0;
  -webkit-transition: all 0.3s cubic-bezier(0, 0.52, 0, 1);
  -o-transition: all 0.3s cubic-bezier(0, 0.52, 0, 1);
  transition: all 0.3s cubic-bezier(0, 0.52, 0, 1);
  overflow: scroll; }
  #mobile-nav .navbar-nav {
    padding-top: 37%;
    padding-left: 33%; }
    #mobile-nav .navbar-nav .nav-item {
      padding-top: 10px;
      padding-bottom: 10px; }
  @media (min-width: 768px) {
    #mobile-nav.show, #mobile-nav.hide {
      -webkit-transform: translate3d(-100vw, 0, 0);
      transform: translate3d(-100vw, 0, 0);
      opacity: 0; } }
  @media (max-width: 768px) {
    #mobile-nav.hide {
      -webkit-transform: translate3d(-100vw, 0, 0);
      transform: translate3d(-100vw, 0, 0);
      opacity: 0; }
    #mobile-nav.show {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      overflow: hidden;
      opacity: 1; }
      #mobile-nav.show + nav.landing {
        background: rgba(108, 117, 125, 0.3);
        transition: background-color 1s ease; } }

.mobile-btn {
  right: 0;
  top: 10px;
  z-index: 2000;
  text-decoration: none;
  cursor: pointer;
  position: fixed;
  background: transparent; }
  .mobile-btn .line {
    width: 40px;
    height: 5px;
    background-color: #fff;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .mobile-btn .line :nth-child(1) {
      opacity: 0;
      -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
      transform: translateX(-100%); }
    .mobile-btn .line :nth-child(3) {
      opacity: 0;
      -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
      -o-transform: translateX(100%);
      transform: translateX(100%); }
  .mobile-btn > .is-active .line:nth-child(1) {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%); }
  .mobile-btn > .is-active .line:nth-child(3) {
    opacity: 0;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%); }

.section-title {
  font-family: "Josefin Sans", sans-serif; }

.service {
  height: 400px;
  margin-bottom: 20px;
  padding: 25px; }
  .service img {
    width: 130px;
    padding-top: 27px;
    padding: 24px;
    padding-bottom: 24px;
    padding-bottom: 27px; }

.copyright {
  background: #eee;
  text-align: center;
  font-size: 2em;
  padding: 20px;
  font-family: "Josefin Sans", sans-serif; }

.pointer {
  cursor: pointer; }
