.modal {
  /* DIALOG BODY */ }
  .modal .modal-body {
    padding: 0 24px; }
    .modal .modal-body.scroll {
      max-height: calc(100% - 120px);
      overflow-y: scroll;
      height: 400px; }
    .modal .modal-body form .input:focus {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      color: inherit;
      background-color: #fff;
      font-family: inherit;
      border: 1px solid #3bb59a;
      outline: 0;
      display: inline-block;
      padding-right: 2em;
      width: 100%;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #dff0d8; }
  .modal .modal-body p {
    font-weight: 400;
    font-size: 14px;
    color: #212121; }
  .modal .modal-body .lead {
    font-weight: 300;
    font-size: 16px;
    color: #757575; }
  .modal .modal-body p:last-child,
  .modal .modal-body .lead:last-child {
    margin-bottom: 0; }
  .modal .btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0, 0, 0, 0.2); }
